!/blog-server/target/
!/blog-server/java.dockerfile
!/blog-server/redis.dockerfile
!/blog-server/redis.conf
!/blog-server/.idea/
!/blog-server/.gitignore
!/blog-server/lib/

!/blog-web/.idea/
!/blog-web/upload.bat
!/blog-web/Dockerfile

!/blog-web/node_modules/

!/blog-web/packages/manage-client/node_modules/
!/blog-web/packages/web-client/node_modules/
!/blog-web/packages/manage-client/dist
!/blog-web/packages/web-client/dist
!/blog-web/packages/web-client/nginx.conf
!/blog-web/packages/manage-client/nginx.conf
!/blog-web/common/node_modules/
!/blog-web/apis/node_modules/
!/blog-web/utils/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.js
*js.map!/blog-server/redis.dockerfile