@unocss preflights;
@unocss default;

.flex-center {
  @apply important-flex important-items-center important-justify-center;
}

.icon {
  @apply w-[1rem] h-[1em] fill-current overflow-hidden;
}

.sakura {
  font-family: sakura, sans-serif;
}

#login {
  background-image: url('@tanxiang/common/src/assets/image/login.png');
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: 'qiantu';
  src: url('https://cdn.jsdelivr.net/gh/MarleneJiang/ImgHosting/img/202109080849134.ttf');
}
.marlene-btn {
  font-family: 'qiantu', serif;
  background-image: linear-gradient(135deg, #ffa7c1 0%, #f56692 100%);
}
.marlene-bg-glass {
  background: linear-gradient(117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
  backdrop-filter: blur(8px);
}
.marlene-rounded-l-lg {
  border-radius: 0.5rem;
}
.marlene-rounded-r-lg {
  border-radius: 0.5rem;
}
@media (min-width: 1024px) {
  .marlene-rounded-l-lg {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .marlene-rounded-r-lg {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
@media (max-width: 1024px) {
  .marlene-bg-glass-ex {
    background: linear-gradient(117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
  }
}
@unocss;