@font-face {
  /* 重命名字体名 */
  font-family: 'pacifico';
  /* 引入字体 */
  src: url('Pacifico-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'round';
  src: url('round.ttf');
  font-weight: normal;
  font-style: normal;
}
