.icon-home {
  margin-right: 8px;
  font-size: 0.98rem;
  position: relative;
  bottom: 0;
}

.icon-aircraft {
  font-size: 0.95rem;
  margin-right: 8px;
  position: relative;
  bottom: 1px;
}

.icon-brush {
  font-size: 1rem;
  margin-right: 8px;
}

.icon-arrow-up {
  font-size: 1rem;
  position: relative;
  margin-left: 5px;
  transition: transform 0.35s;
  bottom: 0;
  transform: rotateZ(90deg);
}

.icon-search {
  font-size: 1.5rem;
  position: relative;
  bottom: 0;
}

.icon-the-moon {
  color: black;
}

.icon-sunfill {
  width: 18px;
}

.icon-menu {
  font-size: 1.7rem;
  margin-left: 7px;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .icon-menu {
    font-size: 1.55rem;
  }
}

#page-nav.bgColor .nav-options,
#page-nav.bgColor .icon-home,
#page-nav.bgColor .icon-arrow-up,
#page-nav.bgColor .icon-search,
#page-nav.bgColor .icon-aircraft,
#page-nav.bgColor .icon-brush,
#page-nav.bgColor .icon-menu {
  color: white !important;
}

#page-nav.active .nav-options,
#page-nav.active .icon-home,
#page-nav.active .icon-arrow-up,
#page-nav.active .icon-search,
#page-nav.active .icon-aircraft,
#page-nav.active .icon-brush,
#page-nav.active .icon-menu {
  color: black;
}
