@font-face {
  font-family: "iconfont"; /* Project id 3793454 */
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont",sans-serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-countDown:before {
  content: "\e625";
}

.icon-sunfill:before {
  content: "\e876";
}

.icon-font-size:before {
  content: "\eaef";
}

.icon-arrow_down_right_arrow_up_left:before {
  content: "\e7be";
}

.icon-arrow_up_left_arrow_down_right:before {
  content: "\e7ca";
}

.icon-the-moon:before {
  content: "\ece9";
}

.icon-catalogue:before {
  content: "\e600";
}

.icon-calendar:before {
  content: "\e601";
}

.icon-home:before {
  content: "\e602";
}

.icon-heart:before {
  content: "\e603";
}

.icon-brush:before {
  content: "\e604";
}

.icon-menu:before {
  content: "\e606";
}

.icon-round:before {
  content: "\e607";
}

.icon-life:before {
  content: "\e608";
}

.icon-search:before {
  content: "\e609";
}

.icon-equipment:before {
  content: "\e60a";
}

.icon-arrow-up:before {
  content: "\e60b";
}

.icon-moonlight:before {
  content: "\e60c";
}

.icon-zhihu:before {
  content: "\e60d";
}

.icon-close:before {
  content: "\e60e";
}

.icon-tag:before {
  content: "\e60f";
}

.icon-top:before {
  content: "\e610";
}

.icon-aircraft:before {
  content: "\e611";
}

.icon-bilibili:before {
  content: "\e613";
}

.icon-tree:before {
  content: "\e614";
}

.icon-flower:before {
  content: "\e615";
}

.icon-github:before {
  content: "\e616";
}

