.el-1header {
  height: var(--header-height);
}

.el-main {
  padding: 0 !important;
  overflow: visible !important;
  height: var(--header-height);
}

.el-aside {
  overflow: visible !important;
}

#list .el-main {
  height: 100%;
}

.el-select {
  width: 100% !important;
}

.el-message-box {
  min-height: 14%;
  max-height: calc(90vh / var(--zoom));
  transition: max-height 0.2s;
  max-width: 600px !important;
  -webkit-transition: max-height 0.2s;
  -moz-transition: max-height 0.2s;
  -ms-transition: max-height 0.2s;
  -o-transition: max-height 0.2s;
}

.el-input {
  line-height: 0 !important;
}

.el-input__wrapper {
  border-radius: 50px !important;
}

.el-progress__text {
  font-size: 0.85rem !important;
  min-width: 35px !important;
  margin-left: 7px !important;
  text-align: right;
}

.el-divider--horizontal {
  margin: 0 !important;
  width: 100%;
}

.el-pagination {
  align-items: center;
  justify-content: center;
}

.el-drawer__header {
  display: block !important;
}

.el-card {
  transition: none !important;
}

.el-breadcrumb__item {
  float: none !important;
}

.article-breadcrumb .el-breadcrumb__item:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 90px);
}

.article-breadcrumb .el-breadcrumb__item:last-child .el-breadcrumb__inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-info-breadcrumb > .el-breadcrumb__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-tooltip__trigger {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-info-content .el-scrollbar__bar {
  display: none;
}

.el-drawer__body {
  padding: 0 !important;
}

.warp::-webkit-scrollbar,
.el-tree::-webkit-scrollbar {
  display: none !important;
}

.warp,
.el-tree {
  scrollbar-width: none !important; /* firefox */
  -ms-overflow-style: none !important; /* IE 10+ */
}
/*.user-info-content::-webkit-scrollbar {*/
/*    display: none; !* Chrome Safari *!*/
/*}*/