.md-editor ul {
  list-style-type: revert !important;
}

.md-editor h2 {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.md-editor h3 {
  margin-top: 30px !important;
}

.md-editor img {
  border: none !important;
}

.vuepress-markdown-body blockquote {
  border-left: 0.2rem solid #36c91c !important;
  background: #ededed;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem 0 1rem 1rem !important;
}

.vuepress-markdown-body blockquote p {
  color: #575757;
}

.v-md-pre-wrapper {
  width: 100%;
  margin: 0 auto !important;
}

@media all and (max-width: 600px) {
  .v-md-pre-wrapper {
    border-radius: 4px !important;
  }

  .line-numbers-wrapper {
    display: none;
  }

  .v-md-pre-wrapper:after {
    display: none;
  }

  .v-md-prism-c {
    padding: 1.25rem 1.5rem !important;
  }
}

.emoji-img {
  width: 20px !important;
  min-width: 20px !important;
  position: relative !important;
  top: -2px !important;
  vertical-align: middle !important;
  padding: 5px 2px !important;
  display: inline-block !important;
}
