/* 初始化操作 */
@import url('dark.css');
@import url('naive.css');
@import url('format.css');
@import url('global.css');
@import url('normalize.css');
@import url('element-plus.css');

:root {
  --home-page: 40vh;

  --current-color: rgb(255, 255, 255);
  --dark-current-color: rgba(0, 0, 0, 0.8);
  --user-info: 300px;
  --user-info-padding: 30px;
  --color-blue-light: #007adf;
  --color-green-light: #4fc8af;
  --color-blue-dark: #075aa0;
  --color-green-dark: #03ae8c;
  --box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);

  --header-height: 60px;
  /*============== 其他部分的设置  =================*/
  /* 网站名称的字体 */
  --header-web-name-font-family: sakura, sans-serif;

  /* 路由按钮选中的颜色 */
  --active-button-bg-img-light: linear-gradient(to right, var(--color-blue-light) 0%, var(--color-green-light) 100%);
  --active-button-bg-img-dark: linear-gradient(to right, var(--color-blue-dark) 0%, var(--color-green-dark) 100%);
  --website-background-color: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1),
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1)
  );

  --header-bg: url('https://inews.gtimg.com/newsapp_bt/0/13483287832/641');
}
html, body {
  height: 100%;
}


html,
body,
#app {
  min-width: 360px;
  margin: 0 !important;
  padding: 0 !important;
  user-select: none;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  font-family: 'sakura', sans-serif !important;
}

.dis-scroll::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none !important; /* Chrome Safari */
}

.dis-scroll,
html {
  scrollbar-width: none !important; /* firefox */
  -ms-overflow-style: none !important; /* IE 10+ */
}

body {
  width: 100% !important;
}

#app {
  background: var(--website-background-color);
}

.dark {
  background-color: black;
}

i.iconfont {
  filter: none;
  -webkit-filter: none;
}

.medium-zoom-overlay {
  display: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.medium-zoom-image {
  cursor: auto !important;
}

.medium-zoom-image--opened {
  display: none !important;
  transform: none !important;
}

.medium-zoom-image--hidden {
  visibility: inherit !important;
}