.n-tabs-tab__label {
  color: white;
  font-family: var(--header-web-name-font-family);
  font-size: 1.025rem;
}

.n-tabs-nav__prefix,
.n-tabs-nav__suffix,
.n-tabs-nav-scroll-content {
  border-bottom: 0 !important;
}

.common-nav-tabs {
  display: inline-flex !important;
}

.common-nav-tabs:first-child {
  width: 95% !important;
  margin-left: 10px;
  transition: all 0.5s;
}

.common-nav-tabs:first-child .n-tabs-tab {
  height: 54px;
  padding: 0 !important;
}

.common-nav-tabs:first-child .n-tabs-tab:first-child {
  width: 70px !important;
  justify-content: center;
}

.common-nav-tabs:first-child .n-tabs-tab:not(:first-child) {
  width: 88px !important;
  justify-content: center;
}

.common-nav-tabs:first-child .n-tabs-tab-pad {
  width: 10px !important;
}

.common-nav-tabs:last-child {
  width: 5% !important;
  transition: all 0.5s;
  margin-right: 25px;
  align-items: flex-end;
}

.common-nav-tabs:last-child .n-tabs-tab-pad {
  width: 40px !important;
}

@media screen and (max-width: 1200px) {
  .common-nav-tabs:last-child .n-tabs-tab-pad {
    width: 20px !important;
  }
}

.n-switch__button {
  background: rgb(33, 37, 43) !important;
  position: relative !important;
  top: 1px !important;
}

.dark .n-switch__button {
  background: white !important;
}

.common-nav-tabs,
.n-tabs-nav {
  padding-top: 5px;
  height: 60px;
  justify-content: center;
}

.n-menu-item-content {
  padding-left: 0 !important;
}

.custom-dropdown {
  margin-top: 10px !important;
  margin-right: 3px !important;
}

.custom-dropdown .n-dropdown-option-body__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .tab-hidden {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .n-scrollbar-rail--vertical {
    display: none !important;
  }
}

@media all and (max-width: 750px){
  .common-nav-tabs,
  .n-tabs-nav {
    padding-top: 0 !important;
  }

  #page-nav {
    padding-bottom: 0;
  }
}