@font-face {
  /* 重命名字体名 */
  font-family: 'pacifico';
  /* 引入字体 */
  src: url('Pacifico-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sakura';
  src: url('sakura-round.woff2');
  font-weight: normal;
  font-style: normal;
}