.dark {
    --page-light: 82.5%;
    background-color: #21252b;
    -webkit-filter: brightness(var(--page-light)); /* Chrome, Safari, Opera */
    filter: brightness(var(--page-light));
}

.dark .layer {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(30, 30, 30) 35%) !important;
}

.dark .side-button {
    --el-button-bg-color: #535353;
}

.dark #page-nav.active {
    background-color: rgba(0, 0, 0, 0.8) !important;
    box-shadow: 0 1px 1px #313131;
}

.dark #page-nav.bgColor {
    box-shadow: none;
}

.dark #page-nav.add-filter {
    filter: drop-shadow(0 1px 5px rgb(0,0,0)) !important;
    -webkit-filter: drop-shadow(0 1px 5px rgb(0,0,0)) !important;
}


.dark #page-nav.active .title {
    color: white !important;
}

.dark #page-nav.active .nav-options,
.dark #page-nav.active .icon-home,
.dark #page-nav.active .icon-arrow-up,
.dark #page-nav.active .icon-search,
.dark #page-nav.active .icon-aircraft,
.dark #page-nav.active .icon-brush,
.dark #page-nav.active .menu{
    color: white !important;
}