.el-1header {
  height: var(--header-height);
}

.el-main {
  padding: 0 !important;
  overflow: hidden !important;
  height: var(--header-height);
}

#list .el-main {
  height: 100%;
}

.el-select {
  width: 100% !important;
}

.el-message-box {
  height: 90%;
  max-width: 600px !important;
}

.el-input {
  line-height: 0 !important;
}

.el-input__wrapper {
  border-radius: 50px !important;
}

.el-progress__text {
  font-size: 0.85rem !important;
  min-width: 35px !important;
  margin-left: 7px !important;
  text-align: right;
}

.el-divider--horizontal {
  margin: 0 !important;
  width: 100px;
}

.el-button + .el-button {
  margin: 0 !important;
}

.el-pagination {
  align-items: center;
  justify-content: center;
}

.el-drawer__header {
  display: block !important;
}

.el-card {
  transition: none !important;
}

.el-breadcrumb__item {
  float: none !important;
}

.article-breadcrumb .el-breadcrumb__item:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 90px);
}

.article-breadcrumb .el-breadcrumb__item:last-child .el-breadcrumb__inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-info-breadcrumb > .el-breadcrumb__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-tooltip__trigger {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-info-content .el-scrollbar__bar {
  display: none;
}

.el-drawer__body {
  padding: 0 !important;
}

/*.user-info-content::-webkit-scrollbar {*/
/*    display: none; !* Chrome Safari *!*/
/*}*/
