<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanx.blog.mapper.ExcerptChatMapper">

    <resultMap id="BaseResultMap" type="com.tanx.blog.entity.po.ExcerptChat">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="chatId" column="chat_id" jdbcType="BIGINT"/>
            <result property="excerptId" column="excerpt_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,chat_id,excerpt_id,
        create_time,update_time
    </sql>
</mapper>
