<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanx.blog.mapper.ImagesMapper">

    <resultMap id="BaseResultMap" type="com.tanx.blog.entity.po.Images">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,upload_time,
        create_time,update_time
    </sql>


    <select id="selectVagueById" resultType="com.tanx.blog.entity.po.Images">
        select * from b_images where id like #{id}
    </select>

    <select id="selectVagueByTime" resultType="com.tanx.blog.entity.po.Images">
        select * from b_images where upload_time between #{start} and #{end}
    </select>
</mapper>
