<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanx.blog.mapper.InformalMapper">

    <resultMap id="BaseResultMap" type="com.tanx.blog.entity.po.Informal">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="temperature" column="temperature" jdbcType="INTEGER"/>
        <result property="mood" column="mood" jdbcType="VARCHAR"/>
        <result property="weather" column="weather" jdbcType="VARCHAR"/>
        <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,temperature,
        mood,weather,like_count,
        create_time,update_time
    </sql>
    <select id="selectByProvinceList" parameterType="hashMap" resultType="hashmap">
        select ANY_VALUE(id) as id,province,count(province) as count from b_informal where recovery = #{recovery} group
        by province
    </select>
</mapper>
