<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanx.blog.mapper.WebStationMapper">

    <resultMap id="BaseResultMap" type="com.tanx.blog.entity.po.WebStation">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="headIcon" column="head_icon" jdbcType="VARCHAR"/>
        <result property="motto" column="motto" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="forTheRecord" column="for_the_record" jdbcType="VARCHAR"/>
        <result property="bulletinBoard" column="bulletin_board" jdbcType="VARCHAR"/>
        <result property="totalVisits" column="total_visits" jdbcType="BIGINT"/>
        <result property="publicSecurityRegistrationNumber" column="public_security_registration_number"
                jdbcType="VARCHAR"/>
        <result property="loginUpdateTime" column="login_update_time" jdbcType="TIMESTAMP"/>
        <result property="totalTextQuantity" column="total_text_quantity" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,login_name,
        password,head_icon,motto,
        content,for_the_record,bulletin_board,
        total_visits,public_security_registration_number,login_update_time,
        total_text_quantity,create_time,update_time
    </sql>

</mapper>
