/* 初始化操作 */
@import url('dark.css');
@import url('antd.css');
@import url('format.css');
@import url('normalize.css');

:root {
  --header-height: 84px;
  --header-tab-bar-height: 36px;
  --header-user-height: 50px;
  --header-tab-bar-padding-left: 10px;
  --header-tab-bar-padding-right: 4px;

  --emoji-content-width: 40px;
  --emoji-content-height: 40px;
  --emoji-container-width: calc(var(--emoji-content-width) * 10);
  --emoji-container-height: calc(var(--emoji-content-height) * 7);
}

#app {
  height: 100%;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.ant-layout-header,
.ant-layout-sider,
.ant-menu-submenu {
  user-select: none !important;
}

.md-editor-icon {
  margin: 0 auto;
}

td {
  vertical-align: middle;
}

ul {
  margin: 0 !important;
}